# ========================================
# Application
# ========================================
PORT=XXXXXX

# ========================================
# Database
# ========================================
DB_USER=XXXXXX
DB_PASSWORD=XXXXXX
DB_DATABASE=XXXXXX
DB_HOST=XXXXXX
DB_PORT=XXXXXX