# ========================================
# Application
# ========================================
PORT=XXXXXX
JWT_EXPIRES_IN=1000h
JWT_SECRET=AWDDGRfes86S564c5zwc1d54aw1d5d1a4f1s5e4tsr5r7QW4D5A4F45WA4D
# ========================================
# Database
# ========================================
DB_USER=XXXXXX
DB_PASSWORD=XXXXXX
DB_DATABASE=XXXXXX
DB_HOST=XXXXXX
DB_PORT=XXXXXX